@import "tailwindcss";

/* Variables globales para colores y tipografías */
:root {
  --font-sans: var(--font-poppins);
  --font-mono: monospace;
}

@theme {
  --color-background: #D9D9D9;        /* fondo general gris claro */
  --color-main: #43AC6A;              /* verde principal */
  --color-main-dark: #2F8050;         /* para botones activos o hover */
  --color-main-light: #7CD9A3;        /* hover o secciones suaves */

  --color-secondary: #6CE5A9;         /* verde agua fresco */
  --color-secondary-dark: #4fc18b;
  --color-secondary-light: #b6f3da;

  --color-tertiary: #E9FFF1;          /* fondo suave, tarjetas o secciones */

  --color-accent: #FF9F43;            /* acento cálido: naranja */
  --color-accent-dark: #e3881f;

  --color-text: #1E1E1E;
  --color-muted: #6B7280;
  --color-border: #D1D5DB;

  --color-danger: #EF4444;
  --color-success: #22C55E;
  
  --color-dark: black;
  --color-light: white;
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }
}